header {
    color: white;
    text-align: left;
    background: url("/images/headerBG.jpg");
    background-position: center;
    background-size: cover;
    padding: 10px 0px 0px 0px;
    margin: 0px;
}

body {
    margin: 0px;
    padding: 0px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

h1 {
    padding-left: 20px;
    font-size: 40px;
    padding-bottom: 30px;
}

li {
    font-size: 22px;
    padding: 10px;
    display: inline;
}

li:hover {
    background: red;
}

ul {
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
}

.info {
    text-align: left;
    height: 200px;
    width: 300px;
}

#info_head {
    color: coral;
    padding-bottom: 0px;
    padding-left: 0px;
    font-size: 30px;
}

#butt {
    color: black;
    padding: 10px 40px 10px 40px;
    background-color: coral;
    border-color: coral;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
}
.bigContact li li:hover{
display: inherit;
background: #ffffff;

}
